
.card{
    margin-bottom: 1rem;
}
.img-fixed {
    width: 100% !important; /* Set the desired width */
    height: 21rem !important; /* Set the desired height */
    object-fit: cover !important; /* Ensures the image fills the container without distortion */
}

.View{
    text-align: center;
}
.Viewbtn{
    background-color:  #004953 !important;
}
