.logo{
    display: flex;
}
.logo p{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}
.Navbar{
    display: flex;
    width: 100%;
    padding: 10px 3px;
    background-color: #ececec;
    margin-bottom: 1.5rem;
}
.searchBar{
    margin: auto;
    width: 50%;
}
.searchBar input{
    width: 90%;
    padding: 5px;
    background-color: white;
    border:1px solid gray;
    color: #004953;
    border-radius: 8px;
}
input:focus{
    outline: none;
}
.listBtn{
    background-color: #004953;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 35px;
}
.listBtn:hover{
    background-color: #0e565f;
}
.NavbarOne{
    justify-content: center;
}
.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ececec;
    box-shadow: none;
}
@media only screen and (max-width: 480px) {
    .logo p{
        display: none;
    }
    .logo img{
        width: 40px;
        height: 40px;
    }
    .searchBar{
        width: 45%;
        padding: 2px;
    }
    .listBtn{
        padding: 10px 20px;
        border-radius: 35px;
    }
}