.swapCards{
    width: 50%;
    margin: auto;
    cursor: auto;
    border: 0px;
}
.swapCards:hover{
    cursor: auto;
    background-color: white;
}
.vImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.vImages img{
    width: 40%;
    padding-bottom: 10px;
}
.swapBtn{
    text-align: center;
    padding: 1rem 0rem;
}
.swap{
    width: 35%;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
@media only screen and (max-width: 480px) {
    .card{
        width: 100%;
    }
}