.swapCards{
    width: 50%;
    margin: auto;
    cursor: auto;
}
.swapCards:hover{
    cursor: auto;
    background-color: white;
}
.swapBtn{
    text-align: center;
    padding: 1rem 0rem;
}
.swap{
    width: 15%;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}